@model IEnumerable<Backend.Models.CursusInstantie>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Startdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cursus.Duur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cursus.Naam)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Startdatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cursus.Duur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cursus.Naam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }
    
    </table>
</body>
</html>
